<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.school.student.mapper.StudentMapper">
    
    <resultMap type="Student" id="StudentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="birthday"    column="birthday"    />
        <result property="phone"    column="phone"    />
        <result property="sex"    column="sex"    />
        <result property="address"    column="address"    />
        <result property="grageClassId"    column="grage_class_id"    />
        <result property="gradeCode"    column="grade_code"    />
        <result property="classCode"    column="class_code"    />
    </resultMap>

    <sql id="selectStudentVo">
        select st.id, name, birthday, phone, sex, address, grage_class_id,grade_code,class_code from bus_student st left join bus_grade_class g
        on g.id=st.grage_class_id
    </sql>

    <select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="phone != null "> and phone = #{phone}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="grageClassId != null "> and grage_class_id = #{grageClassId}</if>
        </where>
    </select>
    
    <select id="selectStudentById" parameterType="Long" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where st.id = #{id}
    </select>
        
    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        insert into bus_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="birthday != null">birthday,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="address != null">address,</if>
            <if test="grageClassId != null">grage_class_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="phone != null">#{phone},</if>
            <if test="sex != null">#{sex},</if>
            <if test="address != null">#{address},</if>
            <if test="grageClassId != null">#{grageClassId},</if>
         </trim>
    </insert>

    <update id="updateStudent" parameterType="Student">
        update bus_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="address != null">address = #{address},</if>
            <if test="grageClassId != null">grage_class_id = #{grageClassId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentById" parameterType="Long">
        delete from bus_student where id = #{id}
    </delete>

    <delete id="deleteStudentByIds" parameterType="String">
        delete from bus_student where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>