<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增年级管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-grade-add">
            <h4 class="form-header h4">年级管理信息</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">所属年级：</label>
                <div class="col-sm-8">
                    <select name="gradeCode" class="form-control m-b" th:with="type=${@dict.getType('bus_grade_code')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">所属班级：</label>
                <div class="col-sm-8">
                    <select name="classCode" class="form-control m-b" th:with="type=${@dict.getType('bus_class_code')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">班主任：</label>
                <div class="col-sm-8">
                    <select name="teacherId" class="form-control m-b"  required>
                        <option th:each="teacher : ${teachers}" th:text="${teacher.name}" th:value="${teacher.id}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">年级_班级全名：</label>
                <div class="col-sm-8">
                    <input name="classFullName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">学年：</label>
                <div class="col-sm-8">
                    <input name="gradeYear" class="form-control" type="text" required>
                </div>
            </div>
            <h4 class="form-header h4">学生管理信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "school/grade"
        $("#form-grade-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-grade-add').serialize());
            }
        }

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'name',
                    align: 'center',
                    title: '名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentList[%s].name' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'birthday',
                    align: 'center',
                    title: '出生日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentList[%s].birthday' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'phone',
                    align: 'center',
                    title: '联系方式',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentList[%s].phone' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'sex',
                    align: 'center',
                    title: '性别',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentList[%s].sex' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'address',
                    align: 'center',
                    title: '家庭住址',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='studentList[%s].address' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                name: "",
                birthday: "",
                phone: "",
                sex: "",
                address: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>