<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('年级管理列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>所属年级：</label>
                            <select name="gradeCode" th:with="type=${@dict.getType('bus_grade_code')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>所属班级：</label>
                            <select name="classCode" th:with="type=${@dict.getType('bus_class_code')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>班主任：</label>
                            <input type="text" name="teacherId"/>
                        </li>
                        <li>
                            <label>年级_班级全名：</label>
                            <input type="text" name="classFullName"/>
                        </li>
                        <li>
                            <label>学年：</label>
                            <input type="text" name="gradeYear"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="school:grade:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="school:grade:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="school:grade:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="school:grade:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('school:grade:edit')}]];
    var removeFlag = [[${@permission.hasPermi('school:grade:remove')}]];
    var gradeCodeDatas = [[${@dict.getType('bus_grade_code')}]];
    var classCodeDatas = [[${@dict.getType('bus_class_code')}]];
    var prefix = ctx + "school/grade";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "年级管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键标识',
                    visible: false
                },
                {
                    field: 'gradeCode',
                    title: '所属年级',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(gradeCodeDatas, value);
                    }
                },
                {
                    field: 'classCode',
                    title: '所属班级',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(classCodeDatas, value);
                    }
                },
                // {
                //     field: 'teacherId',
                //     title: '班主任'
                // },
                {
                    field: 'teacherName',
                    title: '班主任'
                },
                {
                    field: 'classFullName',
                    title: '年级_班级全名'
                },
                {
                    field: 'gradeYear',
                    title: '学年'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>